fastapi==0.115.0
langchain==0.2.12
langfuse==2.27.1
litellm>=0.13.0
litellm>=1.49.3
llama-index>=0.9.48
openai>=1.1.0
pandas>=2.2.3
pocketbase==0.12.1
pre-commit>=4.0.1
pydantic==2.7.0
pymongo>=4.10.1
pytest>=8.3.3
python-dotenv==1.0.0
python-json-logger>=2.0.7
python-multipart==0.0.12
requests==2.31.0
rich==13.6.0
sqlalchemy==2.0.21
tiktoken>=0.8.0
uvicorn==0.23.2
