aiobotocore==2.15.2
aiofiles==24.1.0
alembic==1.14.0
bcrypt==4.0.1
boto3==1.35.36
chardet>=5.2.0
cryptography>=44.0.0
fastapi==0.115.0
fuzzywuzzy==0.18.0
langchain==0.2.17
langfuse==2.27.1
litellm>=1.49.3
llama-index>=0.9.48
msoffcrypto-tool>=5.4.2
openai==1.59.6
opensearch-py>=2.7.1
opentelemetry-api==1.29.0
opentelemetry-exporter-otlp==1.29.0
opentelemetry-instrumentation==0.50b0
opentelemetry-sdk==1.29.0
pandas>=2.2.3
passlib==1.7.4
pre-commit>=4.0.1
prometheus_client==0.21.1
psycopg2-binary
pydantic==2.7.0
pyjwt>=2.10.1
pymongo>=4.10.1
PyMuPDF==1.25.1
pyodbc==5.2.0
PyPDF2==3.0.1
pytest>=8.3.3
pytest-asyncio>=0.24.0
python-dotenv==1.0.0
python-json-logger>=2.0.7
python-Levenshtein==0.26.1
python-multipart==0.0.12
python_docx==1.1.2
rich==13.6.0
sqlalchemy==2.0.21
tiktoken>=0.8.0
uvicorn==0.23.2
